body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-image: url("../images/birdy_background.png");
  background-repeat: repeat;
  font-size: 14px;
}

.information-box {
  background-color: #fff;
  padding: 60px 80px;
  margin: 100px auto;
}

.information-box h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto 50px;
}

.information-box p {
  text-align: justify;
}

.information-box .connect-button {
  margin: 30px auto 50px;
}

.information-box .legals {
  color: #888;
  font-size: 11px;
}

.information-box h3 {
  font-size: 24px;
  font-weight: bold;
}

.information-box .message {
  text-align: center;
}

.information-box .message-primary {
  font-size: 18px;
  margin-bottom: 7px;
}

.information-box .message-secondary {
  font-size: 14px;
  color: #888;
}