<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <title>Birdy</title>
</head>
<body>


<table width="100%" style="background: #f3f3f3; padding: 50px">
    <tr>
        <td>
            <table width="600px" style="margin: 0 auto; background: #ffffff" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table width="600px">
                            <tr>
                                <td style="padding: 25px 30px 10px" align="left" valign="middle">
                                    <a href="#" title="Birdy">
                                        <img src="https://birdyapp.herokuapp.com/images/birdy_logo.jpg" style="max-width: 120px" />
                                    </a>
                                </td>
                                <td style="padding: 25px 30px 10px" align="right" valign="middle">
                                    <p style="font: 27px Arial, sans-serif; color: #dc3545; margin: 0">Hasta la próxima</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="background: #dc3545; padding: 12px 30px" align="right">
                        <p style="font: 15px Arial, sans-serif; color: #ffffff; margin: 0; text-transform: uppercase;">Adiós :(</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 40px" align="center">
                        <p style="font: 17px Arial, sans-serif; color: #333333; margin: 0 0 30px; text-transform: uppercase;">¡Gracias por usar Birdy!</p>
                        <p style="font: 14px Arial, sans-serif; color: #333333; margin: 0 0 15px; line-height: 18px; text-align: left">Ya borramos tu usuario y lista de cumpleaños de nuestro sistema. Recuerda que puedes volver a conectarte a Birdy cuando quieras, te esperamos de vuelta!</p>
                        <p style="font: 14px Arial, sans-serif; color: #333333; margin: 0; line-height: 18px; text-align: left">Saludos</p>
                        <p style="font: 14px Arial, sans-serif; color: #333333; margin: 0; line-height: 18px; text-align: left">El equipo de Birdy</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 40px 0 20px" align="center">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>